<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <title>_Layout</title>
</head>
<body>
    <div class="row" style="height: 80px; background-color:darkred"> 
    </div>
    @RenderBody()
</body>
</html>
