<div>
    <div class="row" style="background-color: lightgray; height: 200px">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            
                <!----><img class="img-responsive" src="~/Images/salar-de-uyuni.jpg" style="max-height:400px"/>
            
        </div>
    </div>
</div>